<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Datos personales</title>
</head>
<body class="bg-gradient-to-r from-green-100">
<div class="bg-gray-100 ">
    <div class="mx-auto max-w-7xl py-16 px-6 sm:py-24 lg:px-8">
      <div class="relative bg-gradient-to-r from-green-100 shadow-xl">
        <h2 class="sr-only">Contact us</h2>
  
        <div class="grid grid-cols-1 lg:grid-cols-3">
          <!-- Contact information -->
          
            
            
  
          <!-- Contact form -->
          <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
            <h3 class="text-lg font-medium text-gray-900"> Crear su ficha de datos personales </h3>
            <form action="#" method="POST" class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
              <div>
                <label for="nombre_completo" class="block text-sm font-medium text-gray-900">Nombre y Apellido</label>
                <div class="mt-1">
                  <input type="text" name="nombre_completo" id="nombre_completo" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                </div>
              </div>
              <div>
                <label for="ci" class="block text-sm font-medium text-gray-900">Documento</label>
                <div class="mt-1">
                  <input type="number" name="ci" id="ci" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                </div>
              </div>
              <div>
                <label for="edad" class="block text-sm font-medium text-gray-900">Edad</label>
                <div class="mt-1">
                  <input id="edad" name="edad" type="text" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                </div>
              </div>
              <div>
                <div class="">
                  <label for="peso" class="block text-sm font-medium text-gray-900">Peso</label>
                  <input id="peso" name="peso" type="text" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                </div>
              <!-- aqui-->
            </div>
            <div>
                <label for="estatura" class="block text-sm font-medium text-gray-900">Altura</label>
                <div class="mt-1">
                <input id="estatura" name="estatura" type="text" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                </div>
            </div>
            <div>
                <label for="tipo_de_sangre" class="block text-sm font-medium text-gray-900">Grupo Sanguineo</label>
                <div class="mt-1">
                <input id="tipo_de_sangre" name="tipo_de_sangre" type="text" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                </div>
            </div>
              <div>
            <input type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-green-500 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" value="Cargar Ficha">

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>