<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicaciones</title>
  </head>
  <body>
    <h1>Recetas</h1>
    <form action="" method="post">
      <input
        type="number"
        name="hora_inicial"
        placeholder="Hora para empezar a tomar"
      />
      <input
        type="text"
        name="medicamento"
        placeholder="Ingrese el medicamento"
      />
      <input type="text" name="motivo" placeholder="Ingrese el motivo" />
      <input type="text" name="cada_hora" placeholder="Cada cuantas horas" />
      <input type="text" name="dias_a_tomar" placeholder="Por cuantos dias" />
      <input type="submit" value="Agregar Horario de medicacion" />
    </form>
  </body>
</html>
