<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
</head>
<body>
    <a href="{{url_for('medicacion')}}">Agregar una medicacion</a>
    <br>
    <br>
    <a href="{{url_for('consultas')}}">Agregar una consulta</a>
    <br><br>

    <h2> Consultas </h2>   
    <table>
        <tr>
            <th>Fecha</th>
            <th>Motivo</th>
            <th>Doctor</th>
        </tr>
        {% for consulta in consultas %}
        <tr>
            <td>{{consulta.fecha}}</td>
            <td>{{consulta.doctor}}</td>
            <td>{{consulta.motivo}}</td>
        </tr>
        {% endfor %}
    </table> 
</body>
</html>